
* {
    box-sizing: border-box;
}

body {
    width: 100vw;
    height: 100vh;
    background-color: whitesmoke;
}

header {
    width: 100%;
    min-height: 10vh;
    padding: 2em;
    text-align: center;
}

header img {
    max-width: 12%;
    margin: 0 auto;
}

form {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    width: 100%;
    padding: 2em;
}

form label {
    margin: 0 10px;
}

form input ,
form select {
    padding: 5px;
    border-radius: 10px;
}

form input {
    cursor: pointer;
}

form .results span{
    font-size: .8em;
}

form .results {
    width: 100%;
    padding: 1em 0;
    text-align: center;
    text-transform: lowercase;
    font-weight: lighter;
    font-style: italic;
    font-size: 1em;
    color: #FF2782;
}

ul, li {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

#results {
    max-width: 50vw;
    margin: 0 auto;
}

#results li.ad {
    display: flex;
    flex-direction: column;
    padding: 1em;
    margin-bottom: 10px;
    border: 1px solid #333;
    border-radius: 10px;
    box-shadow: 2px 2px 5px rgba(34, 34, 34, 0.15);
}

#results li.empty {
    padding: 20px 0;
    text-align: center;
    font-weight: bold;
    font-size: 1.1em;
}

#results li.ad .infos {
    margin-bottom: 10px;
}

#results .more {
    padding: 5px;
}

#results li.ad .title {
    display: block;
    width: 100%;
    padding: 5px;
    margin-bottom: 10px;
    font-size: 1.4em;
    font-weight: bold;
}

#results li.ad .infos span:not(.title) {
    margin: 0 5px;
}

#results li.ad .description {
    display: inline;
}

#results li.ad .link a {
    display: block;
    margin: 20px 0 0;
    padding: 5px;
    float: right;
}